@import "./index.css";

.rp-card{
    width:640px;
    height: 562px;
    background-color: var(--white);
    border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding-top: 62px;
    
       
}

.rp-header{
    width: 80.43px;
    height: 50.18px;

}

.rp-body{
    height: 362px;
    width: 640px;
    padding-top: 25.82px;
    text-align: center;
    
}

.rp-body h4{
    font-weight: 600;
    line-height: 33.6px;
    letter-spacing: 2%;
    color: var(--header);
}

.rp-body h6{
    font-weight: 400;
    line-height: 23.76px;
    letter-spacing: 2%;
    padding: 0 42px;
    color: var(--primaryText);
}


.rp-body button{
    width:232px;
    height: 48px;
    padding:12px, 24px, 12px, 24px;
    border-radius: 12px;
    background: var(--primaryRed);
    border: 1px solid var(--primaryRed);
    color: var(--white);
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 16px;
    margin: 36px 0;
}


.rp-link{
    width: 640px;
    height: 74px;
    border-top: 1px  solid var(--borderColor);
    border-bottom: 1px  solid var(--borderColor);
    padding-top: 24px;

}